<footer class="footer d-flex align-items-center" id="footer">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12 footer-cta d-lg-flex justify-content-between align-items-center text-center">
                <div class="col-lg-3 cta-col-1">
                    <h2 class="fw-bold">Start a project</h2>
                </div>
                <div class="col-lg-5 cta-col-2">
                    <p class="fw-bold fs-5">Join Forces to Create Something Remarkable!</p>
                </div>
                <div class="col-lg-3 cta-col-3">
                    <a href="mailto:prakashbalan555@gmail.com"
                        class="btn btn-hover btn-outline-white fs-5 fw-bold">Let's Connect</a>
                </div>
            </div>
            <div class="col-12 my-5" style="margin-top: 100px !important;">
                <img src="assets/images/avatar/avatar-bottom.svg" width="200px" alt="">
            </div>
            <div class="col-12 mb-4">
                <h2 class="m-none title fw-bold"
                    style="letter-spacing: 3px;word-spacing: 5px;color: white;text-shadow: 3px 3px 3px rgb(57, 57, 57);">
                    SIMPLICITY IS THE ULTIMATE <br>SATISFACTION!</h2>
            </div>
            <div class="col-12 mb-4">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.instagram.com/praghu._b/"><i
                                class="fa-brands fa-instagram soc-icons"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:prakashbalan555@gmail.com"><i
                                class="fa-regular fa-envelope soc-icons"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/prakash-balamurugan/"><i
                                class="fa-brands fa-linkedin soc-icons"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/praghu-b"><i
                                class="fa-brands fa-github soc-icons"></i></a></li>
                    <li class="list-inline-item"><a href="tel:+918610177068"><i
                                class="fa-solid fa-phone-volume soc-icons"></i></a></li>
                </ul>
            </div>
            <hr style="color: white;">
            <div class="col-12 my-3">
                <h6 class="m-none fw-bold text-white" style="letter-spacing: 5px;">Designed & Developed By @Me &#169;
                    2024</h6>
            </div>
        </div>
    </div>
</footer>