<header id="header" class="header">
  <nav class="navbar navbar-expand-lg bg-purple-gradient shadow-lg">
    <div class="container">
      <a href="/" class="navbar-brand text-white fw-bolder">
        HALO, I'M PRAKASH
        <img src="assets/icons/wave-hand.svg" width="40px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#about">About Me</a>
          <a class="nav-link" href="#skills">My Skills</a>
          <a class="nav-link" href="#experience">Experience</a>
          <a class="nav-link" href="#education">Education</a>
          <a class="nav-link" href="#projects">My Projects</a>
        </div>
      </div>
    </div>
  </nav>
</header>