
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I'm Prakash - Portfolio</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/animate.css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">

    <style>
        /* Adjust styles as needed */
    </style>
</head>

<body class="">

    <div class="black-shade" id="black-shade" style="display: none;"></div>

    <!-- <%- include('partials/header') -%> -->

    <section class="hero-section bg-white d-flex justify-content-center align-items-center">
        <div class="container-fluid align-content-between">
            <div class="row hero-top">
                <div class="col-12 d-flex justify-content-between align-items-center text-center">
                    <div class="col-6 col-lg-3 d-flex justify-content-sm-center align-items-center">
                        <img src="assets/images/avatar/avatar-top.svg" class="" style="width: 100px;" alt="">
                        <h2 class="fw-bold d-lg-block d-none text-black">hello there !</h2>
                    </div>
                    <div class="col-6 col-lg-3 align-items-center">
                        <a href="assets/docs/Resume2.pdf" download="Prakash_Resume" class="btn-2">
                            Resume/CV <i class="fas fa-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around align-items-center">
                <div class="col-10 col-lg-5 animate__animated animate__fadeInLeft">
                    <h2 class="text-purple-4 fs-1 mt-sm-4 fw-bold mb-5">Hi, I'm Prakash!
                        <img src="assets/icons/wave-hand.svg" width="40px" alt="">
                    </h2>
                    <p class="bg-purple-2 hero-text text-white rounded-5 p-3 fs-5 mb-5 text-center shadow">
                        A passionate web developer specializing in creating engaging online experiences. From
                        captivating designs to seamless functionality, I'm here to bring your ideas to life. Let's
                        collaborate and make something extraordinary together!
                    </p>
                    <div class="col-lg-12 d-flex justify-content-end">
                        <a href="https://www.linkedin.com/in/prakash-balamurugan"
                            class="bg-purple-4 btn btn-rounded text-white fs-4 fw-bold">Connect Me</a>
                    </div>
                </div>
                <div
                    class="col-12 img-bg-whole d-flex justify-content-center align-items-center col-lg-5 text-center animate__animated animate__fadeInRight">
                    <span class="img-bg"></span>
                    <span class="img-bg-2"></span>
                    <img class="img" src="assets/images/avatar/avatar-hero.svg" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about d-flex align-items-center justify-content-center" id="about">
        <div class="container">
            <!-- <h1 class="h1 text-purple-2 fw-bold m-lg-5">About Me</h1> -->
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-6 col-12">
                    <img src="assets/gifs/about.gif" width="100%" alt="">
                </div>
                <div class="col-lg-6 col-12">
                    <h2 class="h2 text-purple-2 fw-bold mb-4">Wonder Who I am? - I'm Prakash</h2>
                    <p class="fs-5 ps-lg-5">I'm a passionate Web Developer with a knack for Full Stack Development.
                        Welcome to my corner of the internet, where pixels come to life and ideas take flight.</p>
                    <br>
                    <h5 class="fw-bold mb-3 text-purple-2">A Glimpse Into My Journey :-</h5>
                    <p class="ps-lg-5">With a background in Bachelor Of Engineering, I've spent a year honing my craft
                        and mastering the art of fullstack development. From building a Simple Calculator to Cab Booking
                        Application, every step of my journey has been fueled by a relentless pursuit of excellence and
                        a thirst for innovation.</p>
                    <br>
                    <h5 class="fw-bold mb-3 text-purple-2">Passion, Purpose & Beyond :-</h5>
                    <p class="ps-lg-5">Beyond the buzzwords, what truly drives me is my passion. Whether it's designing
                        an attractive frontend layouts or my robust backend coding, I believe in leveraging technology
                        for good and making a positive impact on the world, one line of code at a time.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="skills d-flex align-items-center" id="skills">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold m-lg-5">My Skill Highlights!</h1>
            <div class="row gy-5 d-flex justify-content-around align-items-top text-center">
                <div class="col-lg-3 card">
                    <img class="card-img-top p-2" src="assets/images/skills/frontend.webp" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Frontend Development</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">HTML</li>
                            <li class="list-group-item">CSS</li>
                            <li class="list-group-item">JavaScript</li>
                            <li class="list-group-item">React</li>
                            <li class="list-group-item">Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 card ">
                    <img class="card-img-top p-2" src="assets/images/skills/backend.webp" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Backend Development</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">Node.js</li>
                            <li class="list-group-item">Express.js</li>
                            <li class="list-group-item">Firebase Database</li>
                            <li class="list-group-item">MongoDB</li>
                            <li class="list-group-item">RESTful APIs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 card">
                    <img class="card-img-top p-2" src="assets/images/skills/tools.webp" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Development Tools</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">VS Studio Code</li>
                            <li class="list-group-item">Git</li>
                            <li class="list-group-item">GitHub</li>
                            <li class="list-group-item">Insomnia</li>
                            <li class="list-group-item">Chrome Dev Tools</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta d-flex align-items-center">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-8 col-12">
                    <h2 class="text-purple-2 fw-bold">Interested In Collaborating With Me?</h2>
                    <p class="my-5 fs-5 text-wrap">If you're ready to embark on an exciting journey of collaboration and
                        innovation, I'd love to hear from you! Drop me a message, and let's start creating something
                        extraordinary.</p>
                    <a class="btn btn-hover btn-outline-purple fs-5" href="mailto:prakashbalan555@gmail.com">Connect
                        With Me?</a>
                </div>
            </div>
        </div>
    </section>

    <section class="projects my-5 d-flex align-items-center" id="projects">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold m-lg-5">Projects & Practices!</h1>
            <div class="row gy-4 d-flex justify-content-around align-items-center">
                <div class="col-lg-5 card bg-purple-light-light">
                    <img src="assets/images/projects/droptaxiride.webp" alt=""
                        class="card-img-top p-none mt-3 rounded-2">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Drop Taxi Ride</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Internship</span> - Cab Booking Website
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 card bg-purple-light-light">
                    <img src="assets/images/projects/ticket.webp" alt="" class="card-img-top p-none mt-3 rounded-2">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Integrated Ticketing System</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Academics</span> - Local Transport Bus
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 card bg-purple-light-light">
                    <img src="assets/images/projects/weather.webp" alt="" class="card-img-top p-none mt-3 rounded-2">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Weather Application</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Practice</span> - Weather Report</p>
                    </div>
                </div>
                <div class="col-lg-5 card bg-purple-light-light">
                    <img src="assets/images/projects/youtube.webp" alt="" class="card-img-top p-none mt-3 rounded-2">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Youtube Clone</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Practice</span> - Recreating Youtube
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact d-flex justify-content-center align-items-center" id="contact">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold">Contact Me</h1>
            <div class="row justify-content-between align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-lg-4 col-12 card text-center popup" id="popup" style="display: none;">
                        <a class="close" id="close">X</a>
                        <h4 class="card-title">Email Sent Successfully <img src="assets/icons/check.png"
                                style="width: 40px;"></h4>
                        <p class="card-text">You're message has been sent successfully.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="assets/gifs/contact.gif" width="100%" alt="">
                </div>
                <div class="col-lg-6 justify-content-center">
                    <div class="contact-form-card bg-purple-gradient">
                        <h3 class="text-center fw-bolder mb-4">Have Queries?</h3>
                        <form action="/send-email" method="POST">
                            <div class="form-group mb-3">
                                <label class="fw-bold mb-3" for="name">Name</label>
                                <input type="text" class="form-control" placeholder="Your Name" id="name" name="name"
                                    required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="fw-bold mb-3" for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Your Email" id="email"
                                    name="email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="fw-bold mb-3" for="message">Message</label>
                                <textarea class="form-control" placeholder="What you wanna say?" id="message"
                                    name="message" rows="3" required></textarea>
                            </div>
                            <button type="submit"
                                class="btn text-right btn-hover btn-outline-white fs-5 fw-bold">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') -%>

        <!-- BOOTSTRAP JS -->
        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/script.js"></script>
        <script src="https://kit.fontawesome.com/cd453adce5.js" crossorigin="anonymous"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                // Check if URL contains 'success' attribute
                const urlParams = new URLSearchParams(window.location.search);
                const success = urlParams.get('success');

                if (success === 'true') {
                    // Display the popup card
                    const popupCard = document.getElementById('popup');
                    const shade = document.getElementById('black-shade');
                    popupCard.style.display = 'block';
                    shade.style.display = 'block';

                    const closeButton = document.getElementById('close');
                    closeButton.addEventListener('click', function () {
                        window.location.href = '/';
                    })
                }
            });
        </script>
</body>

</html>