<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Prakash - Portfolio</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/animate.css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">


</head>
<body>

    <!-- <%- include('partials/header') -%> -->

    <section class="hero-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-6 animate__animated animate__fadeInLeft" >
                    <h1 class="text-purple-3 fw-bold mb-5">Hi, I'm Prakash!</h1>
                    <p class="hero-text mb-5 fs-5 text-center shadow">I'm a passionate web developer with expertise in front-end technologies such as HTML, CSS, and JavaScript. I love turning ideas into beautiful and functional websites that make a positive impact. </p>
                    <button class="bg-purple-4 btn btn-rounded text-white fs-4 fw-bold">CONTACT ME</button>
                </div>
                <div class="col-12 col-lg-6 text-center animate__animated animate__fadeInRight">
                    <span class="img-bg shadow"></span>
                    <img class="img" src="assets/images/man.png" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about d-flex align-items-center justify-content-center" id="about">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold m-lg-5">About Me</h1>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-6 col-12">
                    <img src="assets/images/about.svg" alt="">
                </div>
                <div class="col-lg-6 col-12">
                    <h2 class="h2 text-purple-2 fw-bold mb-5">Wonder Who I am? - I'm Prakash</h2>
                    <p class="fs-5 ps-lg-5">I'm a passionate and creative web developer based in Coimbatore, Tamil Nadu. With a background in Computer Science & Engineering, I specialize in crafting beautiful and user-friendly websites that leave a lasting impression.</p>
                    <p class="fs-5 ps-lg-5">I'm always eager to collaborate on exciting projects and connect with fellow developers and enthusiasts. Feel free to reach out to me via phone or connect with me on LinkedIn.</p> 
                </div>
            </div>
        </div>
    </section>

    <section class="skills d-flex align-items-center" id="skills">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold m-lg-5">My Skill Highlights!</h1>
            <div class="row d-flex justify-content-center align-items-top text-center">
                <div class="col-lg-3 card m-3 bg-purple-hover">
                    <img class="card-img-top p-2" src="assets/images/skills/frontend.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Frontend Development</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">HTML</li>
                            <li class="list-group-item">CSS</li>
                            <li class="list-group-item">JavaScript</li>
                            <li class="list-group-item">React</li>
                            <li class="list-group-item">Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 card m-3 bg-purple-hover">
                    <img class="card-img-top p-2" src="assets/images/skills/backend.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Backend Development</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">Node.js</li>
                            <li class="list-group-item">Express.js</li>
                            <li class="list-group-item">Firebase Database</li>
                            <li class="list-group-item">MongoDB</li>
                            <li class="list-group-item">RESTful APIs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 card m-3 bg-purple-hover">
                    <img class="card-img-top p-2" src="assets/images/skills/tools.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-purple-4 fw-bold">Development Tools</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, distinctio!</p> -->
                        <ul class="list-group">
                            <li class="list-group-item">VS Studio Code</li>
                            <li class="list-group-item">Git</li>
                            <li class="list-group-item">GitHub</li>
                            <li class="list-group-item">Insomnia</li>
                            <li class="list-group-item">Chrome Dev Tools</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects my-5 d-flex align-items-center" id="projects">
        <div class="container">
            <h1 class="h1 text-purple-2 fw-bold m-lg-5">My Projects & Practices!</h1>
            <div class="row justify-content-center">
                <div class="col-lg-4 m-4 card">
                    <img src="assets/images/projects/droptaxiride.png" alt="" class="card-img-top p-2 rounded-4">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Drop Taxi Ride</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Internship</span> - Cab Booking Website</p>
                    </div>
                </div>
                <div class="col-lg-4 m-4 card">
                    <img src="assets/images/projects/ticket.png" alt="" class="card-img-top p-2 rounded-4">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Integrated Ticketing System</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Academics</span> - Local Transport Bus</p>
                    </div>
                </div>
                <div class="col-lg-4 m-4 card">
                    <img src="assets/images/projects/weather.png" alt="" class="card-img-top p-2 rounded-4">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Weather Application</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Practice</span> - Weather Report</p>
                    </div>
                </div>
                <div class="col-lg-4 m-4 card">
                    <img src="assets/images/projects/youtube.png" alt="" class="card-img-top p-2 rounded-4">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Youtube Clone</h5>
                        <p class="card-text"><span class="fw-bold text-purple-2">Practice</span> - Recreating Youtube</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') -%>

    <!-- BOOTSTRAP JS -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/cd453adce5.js" crossorigin="anonymous"></script>
</body>
</html>