@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Titillium Web", sans-serif;
    line-height: 1.5;
}

.bg-purple-1 {
    background-color: #570987;
}

.bg-purple-2 {
    background-color: #7D0DC3;
}

.bg-purple-3 {
    background-color: #A020F0;
}

.bg-purple-4 {
    background-color: #B95CF4;
}

.bg-purple-5 {
    background-color: #D397F8;
}

.bg-purple-light {
    background-color: #efd6ff;
}

.bg-purple-light-light {
    background-color: #f6e4ff;
}

.bg-purple-gradient {
    background: rgb(80,0,184);
    background: linear-gradient(90deg, rgba(80,0,184,1) 0%, rgba(156,63,255,1) 100%);
}

.bg-purple-hover:hover {
    background-color: #D397F8;
    transition-duration: .5s;
}

.text-purple-1 {
    color: #570987;
}

.text-purple-2 {
    color: #7D0DC3;
}

.text-purple-3 {
    color: #A020F0;
}

.text-purple-4 {
    color: #B95CF4;
}

.text-purple-5 {
    color: #D397F8;
}

.text-white {
    color: white;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar {
    padding: 10px 0 10px 0;
}

.navbar a {
    color: white;
}

.nav-link:hover {
    color:#B95CF4;
}

.hero-section {
    margin: 0px 0 0px 0;
    height: 100vh;
    /* background-color: #efd6ff; */
    background-color: #570987;
}

.hero-text {
    color: white;
    padding: 15px;
    font-size: larger;
    background-color: #570987;
    /* border: solid 1px #7D0DC3; */
    border-radius: 30px;
}

.btn:hover {
    background-color: #7D0DC3;
    transition:linear;
    transition-duration: .5s;
}

.img {
    z-index: 50 !important;
}

.img-bg {
    position: absolute;
    border-radius: 10% 70% 10% 70%;
    width: 95%;
    height: 100%;
    box-shadow: 1px 5px 10px rgba(75, 36, 95, 0.501);
    background-color: #A020F0;
    z-index: -1 !important;
}

.img-bg-2 {
    position: absolute;
    border-radius: 70% 10% 70% 10%;
    width: 95%;
    height: 100%;
    box-shadow: 1px 5px 10px rgba(75, 36, 95, 0.501);
    background-color: #A020F0;
    z-index: -2 !important;
}

.about {
    width: 100%;
    min-height: 100vh;
}

.skills {
    width: 100%;
    min-height: 100vh;
}

.projects {
    width: 100%;
    min-height: 100vh;
}


.cta {
    width: 100%;
    min-height: 60vh;
    margin: 30px 0 30px 0;
}

.footer {
    margin-top: 100px;
    width: 100%;
    min-height: 70vh;
    background: rgb(106,0,211);
    background: linear-gradient(90deg, rgba(106,0,211,1) 0%, rgba(165,92,255,1) 65%);
}

.footer-cta {
    color: white;
    padding: 40px;
    margin: -100px;
    background-color: #570987;
    border-radius: 30px;
}

h1 {
    /* padding: 30px 0 8px; */
    position: relative;
}
  
h1::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 16px;
    width: 150px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
}

.card {
    /* border: none; */
}

.projects .card:hover {
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition-duration: .5s;
}

.skills .card:hover {
    border-color: #A020F0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition-duration: .5s;
}

.soc-icons {
    color: white;
    font-size:xx-large;
    width: 50px;
}

.soc-icons:hover {
    color: #570987;
}

.btn-2 {
    font-weight: bold;
    color: #B95CF4;
    border: 2px solid #B95CF4;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn-2:hover {
    font-weight: bold;
    color: white;
    border: 2px solid #B95CF4;
    background-color: #B95CF4;
    transition-duration: .3s;
}

.btn-outline-purple {
    color: #7D0DC3;
    border: 2px solid #7D0DC3;
}

.btn-outline-white {
    color: white;
    border: 2px solid white;
}

.btn-hover:hover {
    color: white;
    background-color: #7D0DC3;
    transition-duration: .3s;
}

.btn:hover {
    transition: .5s;
}

.bg-outline-white {
    color: #B95CF4;
    background-color: white;
    border: 5px solid #B95CF4;
}

.bg-outline-purple {
    color: white;
    background-color: #7D0DC3;
    border: 5px solid #7D0DC3;
}